body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* From https://css.glass */
  background: rgb(145,255,243);
  background: linear-gradient(90deg, rgba(145,255,243,0.3) 0%, rgba(173, 216, 230, 1)), url('./assets/Screenshot\ 2024-10-05\ 165642.jpg'); /* Path to your image */
  background-size: cover; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;
}

.btn {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-weight: 800;
}

.btn:hover {
  background: rgba(60, 58, 58, 0.25);
  box-shadow: 0 8px px 0 rgba( 31, 38, 135, 0.37 );
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  .btn {
    width: 50%;
    align-items: center;
  }
}
